body {
  margin: 0;
  border-bottom: 20px solid deepskyblue;
  padding: 0;
  font-family: sans-serif;
  background: lightcyan;
}
nav {
 padding: 25px; 
 background: deepskyblue;

}
nav a {      
  text-decoration: none;
  padding: 5px;
}
form {
  margin: 10px;
  background: lightskyblue;
  border: 20px solid deepskyblue;
}
input {
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid blue;
  width: 50%;
  margin: 0 auto 20px;
  display: block;
  background: lightcyan;
  text-align: center;
}
button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  background: #4281BB;
  color: blanchedalmond;
  text-transform: capitalize;
}